* {
    text-decoration: none;
    margin: 0; padding: 0;
}

body {
    margin: 0; padding: 0;
    font-family: 'Open Sans',sans-serif;
    background: black;

}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}
.logo a {
    font-size: 50px;
    font-weight: bold;
    float: left;
    font-family: courier;
    color: #364f6b;
}
.menu {
    float: right;
}
nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: black;
}

nav ul {
    list-style-type: none;
    margin: 0; padding: 0;
    overflow: hidden;
}
nav ul li {
    float: left;
}
nav ul li a {
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}
nav ul li a:hover {
    text-decoration: underline;
    color: salmon;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}
.kolom {
    margin-top: 50px;
    margin-bottom: 50px;
}
.kolom .deskripsi {
    font-size: 20px;
    font-weight: bold;
    font-family: 'comic sans ms';
    color: white;
}
h2 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: white;
    width: 100%;
    line-height: 50px;
}

div.gallery {
    border: 1px solid #ffa800;
}
div.gallery:hover {
    border: 2px solid skyblue;
}
div.gallery img {
    width: 100%;
    height: auto;
}
div.desc {
    padding: 15px;
    text-align: center;
    color:#fff;
    background:silver;
}
* {
    box-sizing: border-box;
}
.responsive {
    padding: 0 6px;
    float: left;
    width: 50%;
    display: flex;
}
@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}
@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
span {
    display: block;
    position: center;
    z-index: 5;
    font-weight: bold;
    font-size: 50px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: grey;
    letter-spacing: 5px;
    top: 100px;
    text-align: center;
}